<a href="https://colab.research.google.com/github/Davidj361/4108ass1/blob/master/project1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Libraries**

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')

In [ ]:
import numpy as np, pandas as pd, matplotlib.pyplot as plt, random

**Data**

In [ ]:
dataset = pd.read_csv('hepatitis.csv')
X = dataset.iloc[:, :-1].values
y = dataset.iloc[:, -1].values
dataset2 = pd.read_csv('bankrupcy.csv')
X1 = dataset.iloc[:, :-1].values
y2 = dataset.iloc[:, -1].values

# New Section

In [ ]:
print(X)

[[30.   2.   1.  ...  4.  61.   1. ]
 [50.   1.   1.  ...  3.5 61.   1. ]
 [78.   1.   2.  ...  4.  61.   1. ]
 ...
 [61.   1.   1.  ...  4.1 61.   2. ]
 [53.   2.   1.  ...  4.1 48.   2. ]
 [43.   1.   2.  ...  3.1 42.   2. ]]

In [ ]:
print(y)

[1 1 1 1 1 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 1 1 1 0 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 1 1 1 0 1 1 1 0 1 1
 1 1 1 1 1 1 0 0 0 1 1 0 1 0 1 1 1 0 1 0 1 1 1 0 1 1 1 0 1 0 1 1 1 1 1 1 1
 0 1 1 1 1 1 0 1 0 1 0 1 1 0 1 1 1 0 1 1 1 0 0 1 1 1 0 1 1 1 0]

In [ ]:
print(X1)

[[30.   2.   1.  ...  4.  61.   1. ]
 [50.   1.   1.  ...  3.5 61.   1. ]
 [78.   1.   2.  ...  4.  61.   1. ]
 ...
 [61.   1.   1.  ...  4.1 61.   2. ]
 [53.   2.   1.  ...  4.1 48.   2. ]
 [43.   1.   2.  ...  3.1 42.   2. ]]

In [ ]:
print(y2)

[1 1 1 1 1 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 1 1 1 0 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 1 1 1 0 1 1 1 0 1 1
 1 1 1 1 1 1 0 0 0 1 1 0 1 0 1 1 1 0 1 0 1 1 1 0 1 1 1 0 1 0 1 1 1 1 1 1 1
 0 1 1 1 1 1 0 1 0 1 0 1 1 0 1 1 1 0 1 1 1 0 0 1 1 1 0 1 1 1 0]

In [ ]:
X2 = np.transpose(X)
print(X2)

[[30.  50.  78.  ... 61.  53.  43. ]
 [ 2.   1.   1.  ...  1.   2.   1. ]
 [ 1.   1.   2.  ...  1.   1.   2. ]
 ...
 [ 4.   3.5  4.  ...  4.1  4.1  3.1]
 [61.  61.  61.  ... 61.  48.  42. ]
 [ 1.   1.   1.  ...  2.   2.   2. ]]

**Split data into training and test set**